// Polls menu
.polls-menu {
  position: relative;

  a:hover {
    text-decoration: underline;

    &:before {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: grey;
      left: 0;
      top: 0;
    }
  }
}

// Poll cart styles
.poll-body-overlay {
  height: calc(100vh - 47px);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../images/forest.jpg');
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -4;
}
.poll-body {
  height: calc(100vh - 47px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  padding: 5px;
}

.finish-cart-body {
  text-align: center;

  a {
    margin: 10px;
  }
}
@media screen and (min-width: 576px) {
  .poll-body {
    padding: 40px;
  }
}

// Question styles
.answer-item {
  &:hover {
    box-shadow: 3px 4px 8px 0px;
    cursor: pointer;
  }

  &.correct,
  &.incorrect {
    &:hover {
      opacity: 0.9;
    }
  }
}
pre {
  padding: 10px;
  overflow-x: auto;
}

.correct {
  background-color: green;
}
.incorrect {
  background-color: red;
}

// Admin panel styles
#add-question-form {
  textarea,
  input {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  input[type='radio'] {
    width: 14%;
  }
}
.admin-questions-list {
  max-height: 90vh;
  overflow-y: auto;
}
